<div class="uk-container tm-navbar-container uk-container-expand">
  <% if (success) { %>

  <div class="uk-width-1-1@s" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>
      <%= success %>
    </p>
  </div>

  <% } %>

  <% if (error) { %>

  <div class="uk-width-1-1@s" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p>
      <%= error %>
    </p>
  </div>

  <% } %>
</div>
