<div class="uk-width-5-6 uk-padding-large">
  <hr>
  <ul class="uk-comment-list">
    <% comments.forEach(function (comment) { %>
      <li>
        <article class="uk-comment uk-visible-toggle">
          <div class="uk-comment-header uk-position-relative">
            <h4 class="author"><span uk-icon="icon: user"></span> <%= comment.user.name %></h4>

            <% if (user && comment.user && user.id.toString() === comment.user.id.toString()) { %>
            <div class="uk-position-top-right uk-position-small uk-hidden-hover">
              <a href="/comments/<%= comment.id %>/remove" uk-icon="icon: trash"></a>
            </div>
            <% } %>

          </div>
          <div class="uk-comment-body">
            <div class="text"><%= comment.content %></div>
          </div>
        </article>
      </li>
    <% }) %>
  </ul>
  <% if (user) { %>
    <form class="uk-margin-xlarge-top uk-margin-large-bottom" method="post" action="/comments">
      <input name="postId" value="<%= post.id %>" hidden>
      <div class="uk-margin">
        <textarea class="uk-textarea uk-width-1-1 uk-height-small" name="content"></textarea>
      </div>
      <button type="submit" class="uk-button uk-button-text uk-align-right"><span uk-icon="icon: comment"></span> Add Reply </button>
    </form>
  <% } %>
</div>
