<%- include('header') %>

<form class="ui form segment" method="post">
  <div class="field required">
    <label>标题</label>
    <input type="text" name="title">
  </div>
  <div class="field">
    <label>简介</label>
    <textarea name="desc" rows="3"></textarea>
  </div>
  <div class="field required">
    <label>作者</label>
    <input type="text" name="author">
  </div>
  <div class="field required">
    <label>内容</label>
    <textarea name="content" rows="30"></textarea>
  </div>

  <button class="ui button" type="submit">Submit</button>
</form>

<%- include('footer') %>
