    </div>
    <div class="uk-container uk-container-expand uk-padding-small uk-background-muted uk-position-bottom  uk-position-fixed">
      <p class="uk-text-meta">津ICP备19000709号-1</p>
    </div>
    <script>
      $(document).ready(() => {
        <% if (locals.posts) { %>
          $('.post-item').each(function (index, post) {
            let curId = post.attributes['data-id'].nodeValue
            let curUrl = `/posts/${curId}`
            $(post).on('click', function (event) {
              $(location).attr('href', curUrl)
            })
          })
        <% } %>
      })
    </script>
  </body>

</html>
