    </div>
    <script>
      $(document).ready(() => {
        <% if (locals.posts) { %>
          $('.post-item').each(function (index, post) {
            let curId = post.attributes['data-id'].nodeValue
            let curUrl = `/posts/${curId}`
            $(post).on('click', function (event) {
              $(location).attr('href', curUrl)
            })
          })
        <% } %>
      })
    </script>
  </body>

</html>
