<%- include('header') %>

<form class="ui form segment" method="post">
  <div class="field required">
    <label>用户名</label>
    <input type="text" name="name" placeholder="用户名">
  </div>
  <div class="field required">
    <label>密码</label>
    <input type="text" name="password" placeholder="密码">
  </div>

  <button type="submit" class="ui button">Submit</button>
</form>

<%- include('footer') %>
